/*
color1: #001b2e /* Oxford blue * /; color1_light: #1a3243;
color2: #008cba; /* Blue NCS * /;
color3: #FFFFFF; /* White * /;
color4: #FF0022; /* Red Pigment * /
color5: #b91372; /*Medium Violet Red * /
*/

body {
	background-color: #001b2e; /* Oxford blue */
	color: #FFFFFF; /* White */;
	width: 100%;
	height: 100%;
}

* {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

button, .btn{
	border: 1px solid #008cba; /* Blue NCS */
	background: #1a3243;
 	color: #FFFFFF; /* White */;
 	padding: 10px 28px;
 	text-align: center;
  	text-decoration: none;
  	display: inline-block;
 	font-size: 16px;
 	border-radius: 10px;
 	transition: .2s;
 	box-shadow: 0 2px 4px rgba(0,0,0,.4);
}
button: hover, .btn:hover{
	background-color: #108FBF;
}

input[type="text"] {
	transition: .2s;
	background: rgb(255, 255, 255, .1);
	border: 1px solid #008CBA;
 	padding: 10px;
 	color: white;
 	font-size: 16px;
 	border-radius: 10px;
}
::placeholder {
  text-shadow: None;
}

input:hover, .btn:hover, button:hover{
	box-shadow: 0 0 3px 1px #008CBA;
}

input:focus, .btn:focus, button:focus{
	outline: none;
	box-shadow: 0 0 8px 0 #008CBA;
}

input:active, .btn:active, button:active{
	outline: none;
	box-shadow: 0 0 10px 0 #008CBA;
}

h1 {
	font-size: 48px;
}

h1 {
	text-align: center;
}

/* Tooltip container */
/* Tooltip text */
.tooltip .tooltiptext{
	cursor: default;
  visibility: hidden;
  width: 60px;
  background-color: #5555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  backdrop-filter: blur(5px);
 
  /* Position the tooltip text */
  position: absolute;
  top: -100%;
  z-index: 1;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s 1s;
}
.tooltip .tooltip-left {
  margin-left: 15px;
}
.tooltip .tooltip-right {
  margin-left: -75px;
}
/* tooltip arrow */
.tooltip .tooltiptext::after{
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid; 
}
.tooltip .tooltip-left::after {
  right: 100%; /* To the left of the tooltip */
  border-color: transparent #5555 transparent transparent; 
}
.tooltip .tooltip-right::after {
  left: 100%; /* To the left of the tooltip */
  border-color: transparent transparent transparent #5555; 
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.modal{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0,0.4);
	backdrop-filter: blur(5px);
	z-index: 10;
	display: none;
}

.content{
	position: relative;
	top: calc(50%);
	margin: auto;
	padding: 2em;
	width: fit-content;
	border-radius: 1em;
	background-color: #001b2e;
	box-shadow: 0 5px 40px 0 rgba(0,0,0,.5);
	border: 1px solid #008cba;
}


.dropdown{
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 200px;
	padding: 10px 0;
	background: white;
	box-shadow: 0 5px 40px 0 rgba(255,255,255,.5);
	border-radius: .5em;
	z-index: 1;
}

#workspace {
	position: relative;
	height: 450px;
	overflow: hidden;
	border-radius: 10px;
	border: 2px solid white;
	margin: 2em 1em;
}
#workspace svg{
	position: absolute;
	width: 100%;
	height: 100%;
	/*z-index: -1;*/
}

.component {
	position: absolute;
	cursor: move;
	border: 2px solid #008cba; /* Blue NCS */
	background: #001b2e;
 	color: #FFFFFF; /* White */;
 	text-align: center;
  	text-decoration: none;
  	display: inline-block;
 	font-size: 16px;
 	border-radius: 5px;
 	transition: box-shadow .4s;
}
.component[selected]{
	border: solid 2px #F5E663;
}
.component p{
	margin: auto;
	pointer-events: none;
	display: inline-block;
}
.ioarray{
	position: relative;
	height: 100%;
	vertical-align:middle;
	display: inline-block;
	min-width: 12px;
}
.in {
	left: -8px;
}
.out {
	left: 8px;
}
.io{
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border: solid 2px rgb(100,0,0);
	background-color: gray;
	margin: .2em 0;
}
.io[state="0"]{
	background-color: black;
}
.io[state="1"]{
	background-color: red;
}
.io:hover{
	border-color: rgb(180,0,0);
	cursor: crosshair;
}

path{
	stroke: gray;
	stroke-width: 3;
	fill: None;
	z-index: 10;
}
path:hover {
	stroke-width: 4;
}
path[selected]{
	stroke-width: 4;
	stroke: gold !important;
}
path[state="0"]{
	stroke: darkred;
}
path[state="1"]{
	stroke: red;
}
circle {
	r: 5;
}
circle[state="0"]{
	fill: darkred;
}
circle[state="1"]{
	fill: red;
}

.drawer {
	padding: 0 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.drawer button {
	margin: .1em;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: None;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* BEHAVIORS */
[ondrag] {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 1.0) ;
	z-index: 1;
}

[unselectable] {
	user-select: none;
}